#faqs {
font-size: 125%;
}
html, body {
overflow-x: hidden;
overflow-y: scroll;
background-color: #191923;
background-color: white;
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
color: #191923;
}
#sec-4 {
background-color: #191923;
color: white;
padding: 40px;
}
#web-app-look-vid {
width: 1%;
height: 80%;
}
#intro-txt {
color: black;
font-size: 139%;
padding: 0.1%;
}
#intro-vid {
height: 50%;
}
#sub-header {
font-weight: bold;
font-size: 140%;
}
.sec-bubbles {
background-color: rgba(255,255,255,0.6);
backdrop-filter: blur(10px);
color: black;
border-radius: 15px;
flex-grow: 5;
flex-shrink: 5;
flex-basis: 45%;
padding: 20px;
margin: 10px;
font-size: 110%;
min-width: 0;
width: auto;
}
#faqs {
flex-basis: 80%;
}
#footer-sec, #sec-2 {  
width: 100vw;
height: auto;
display: flex;
flex-wrap: wrap;
background-image: url("/media/images/footer-img.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }
.link, a {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 100%;
}
#mod-sec-bub {
flex-grow: 5;
flex-shrink: 5;
flex-basis: 0%;
}
    #bg-header-img {
width: 80%;
margin-top: 5%;
    }
    #bg-header-txt {
    font-size: 400%;
    font-weight: 600;
    padding: 2%;
    }
    #sec-1 {
    width: 100vw;
    height: 100vh; 
    }
    #faq-header-txt, #contact-header-txt, #copyright-header-txt {
    font-size: 150%;
    }

    #credit-header-txt {
    font-size: 35px;
    }
video {
border-radius: 15px;
object-fit: fill;
outline: none;
}
#nav-bar {
width: 105vw;
height: 3%;
background-color: #191923; 
color: white;
font-size: 20px;
padding: 10px;
display: table-cell;
vertical-align: center;
text-align: center;
}
.menu-link {
padding: 8px;
display: inline-block;
font-weight: 400;
}
@media only screen and (min-width: 900px) {
    #bg-header-img {
    width: 40%;
    }
}