
#sec-2 {
background-color: #191923;
padding: 40px;
}
html, body {
scroll-behavior: smooth;
overflow-x: hidden;
background-color: #191923;
}
#intro-txt {
color: white;
font-size: 2.5vw;
padding: 5%;
}
#bg-cntr-txt-sec2 {
text-align: center;
color: white;
}
.link {
text-decoration: none;
color: white;
font-weight: bold;
}
#yt-vid-link {
color: white;
padding: 10px;
}
.sec-bubbles {
background-color: #191923;
color: white;
border-radius: 15px;
padding: 30px;
}
    body, html {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #191923;
    }
    #bg-header-img {
    margin-top: 5%;
    width: 40%;
    }
    #bg-header-txt {
    margin-top: 15px;
    font-size: 5vw;
    }
    #sec-1, #sec-2, #footer-sec, #sec-3 {
    height: 100%;
    width: 100vw;
    padding: 8px;
    }
    #down-arw {
    width: 50px;
    height: 50px;
    align-content: center;
    }
    #faq-header-txt, #contact-header-txt {
    font-size: 5vw;
    }
    #bg-cntr-txt-sec2 {
    font-size: 10vw;
    }
    #footer-sec {
    padding: 30px;
    }
#footer-sec-right {
    float: right;
    width: 45%;
    margin-bottom: 30px;
    }
    #footer-sec-left, #footer-sec-left-sub {
    float: left;
    width: 45%;
    }
    #footer-sec-left-sub {
    margin-top: 30px
    }
    #footer-sec-right-sub {
    float: right;
    width: 45%;
    }
    #license {
    margin-top: 10px;
    }
    #footer-sec-right-sub2 {
    float: right;
    margin-top: 30px;
    width: 45%;
    }
    #credit-header-txt {
    font-size: 35px;
    }
    #copyright-header-txt, #legal-learn-more-header-txt {
    font-size: 30px
    }
#footer-sec {
width: 95vw;
}
#sec-1 {
padding: 0px;
}
#sec-3 {
background-color: #D1000D;
}
#nav-bar {
width: 105vw;
height: 3%;
background-color: #191923; 
color: white;
font-size: 20px;
padding: 10px;
display: table-cell;
vertical-align: center;
text-align: center;
}
.menu-link {
padding: 8px;
display: inline-block;
}
@media only screen and (max-width: 500px) {
#bg-header-img {
margin-top: 10%;
width: 90%;
}
#footer-sec-right, #footer-sec-right-sub, #footer-sec-right-sub2,
 #footer-sec-left, #footer-sec-left-sub {
width: 70vw;
float: none;
margin-top: 8px;
margin-bottom: 0px;
}
#bg-header-txt {
margin-top: 15px;
font-size: 14vw;
}
.yt-caption {
font-size: 5vw;
color: white;
}
#faq-header-txt {
font-size: 50px;
}
    #intro-txt {
font-size: 1.2em;
    }
    #contact-header-txt {
    font-size: 2.2em
    }
}