#faqs {
font-size: 125%;
}
html, body {
overflow-x: hidden;
overflow-y: scroll;
background-color: #191923;
background-color: white;
font-family: 'Montserrat', sans-serif;
margin: 0;
padding: 0;
color: #191923;
scroll-behavior: smooth;
}
#sec-4 {
background-color: #191923;
color: white;
padding: 40px;
}
#web-app-look-vid {
width: 1%;
height: 80%;
}
#intro-txt {
color: black;
font-size: 139%;
padding: 0.1%;
}
#intro-vid {
height: 50%;
}
#sub-header {
font-weight: bold;
font-size: 140%;
}
.sec-bubbles {
background-color: rgba(255,255,255,0.6);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
color: black;
border-radius: 15px;
flex-grow: 5;
flex-shrink: 5;
flex-basis: 45%;
padding: 20px;
margin: 10px;
font-size: 110%;
min-width: 0;
width: auto;
}
#faqs {
flex-basis: 80%;
}
#footer-sec, #sec-2, #projects {  
width: 100vw;
height: auto;
display: flex;
flex-wrap: wrap;
background-image: url("/media/images/footer-img.png");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }
.link, a {
text-decoration: none;
color: black;
font-weight: bold;
font-size: 100%;
}
#mod-sec-bub {
flex-grow: 5;
flex-shrink: 5;
flex-basis: 0%;
}
    .hero-img {
width: 80%;
margin-top: 2%;
    }
    .hero-txt {
    font-size: 400%;
    font-weight: 600;
    padding: 2%;
    }
    #sec-1 {
    width: 100vw;
    height: 100vh; 
    }
    #faq-header-txt, #contact-header-txt, #copyright-header-txt {
    font-size: 150%;
    }

    #credit-header-txt {
    font-size: 35px;
    }
video {
border-radius: 15px;
object-fit: fill;
outline: none;
}
#nav-bar {
text-align: center;
width: 105vw;
height: auto;
color: black;
font-size: 20px;
padding: 10px;
display: table-cell;
vertical-align: center;
text-align: center;
}
.menu-link {
padding: 8px;
display: inline-block;
font-weight: 400;
}
@media only screen and (min-width: 900px) {
    .hero-img {
    width: 40%;
    }
}
#projects, #comp-values, #app-princip {
width: 100vw;
}
.card {
background-color: white;
height: 450px;
width: 400px;
border-radius: 15px;
padding: 10px;
margin: 10px;
display: inline-block;
filter: blur(0px);
}
.card-header {
font-size: 200%;
}
.card-img-wrapper {
height: 40%;
background-color: #eeeeee;
border-radius: 15px;
padding: 10px;
align-content: center;
text-align: center;
}
.card-img {
width: 200px;
height: auto;
margin-top: 10%
}
.card-content {
padding: 10px;
white-space: normal;
}
.date-description {
color: orange;
}
.card-carousel {
white-space: nowrap;
overflow-x: scroll;
overflow-y: hidden;
background: rgba(250,250,250,0.6);
height: 52%;
border-radius: 15px;
padding: 10px;
margin: 10px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}
#txt-img {
font-size: 50px;
}
#windows, #enterprise, #mac {
margin-top: 0;
}
#ios {
font-size: 200%;
margin-top: 7%;
}
.carousel-header {
font-weight: bold;
font-size: 160%;
}
.carousel-content {
display: flex;
}
.flex-card {
flex-basis: 23%;
filter: drop-shadow( 0 0 0 lightgrey);
}
.no-padding {
margin-top: 0;
width: 40%
}
#company-values, #app-principles {
background: #191923;
}
#values-header, #principles-header {
color: white;
}
#abt-hero-txt {
text-shadow: 10px 10px 4px lightgrey;
}
#abt-hero-img {
  filter: drop-shadow( 15px 15px 3px lightgrey);
}
footer {
text-align: center;
}
.nav-wrapper {
    text-align: center;
    align-content: center;
}
.active-link {
background-color: #191923;
border-radius: 10px;
}
#lock-color {
color: white;
}
@media (prefers-color-scheme: dark) {
    body, html {
    background-color: black;
    color: white;
    }
    .sec-bubbles {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    }
    .hero-txt {
    color: white;
    }
    a, .link, #intro-txt {
    color: white;
    }
    #lock-color {
    color: black;
    }
    .active-link {
    background-color: white;
    border-radius: 10px;
    }
    #abt-hero-img, #abt-hero-txt {
      filter: none;
        text-shadow: none;
        color: white;
        }
    .card {
    background-color: black;
    }
    #ios-txt-img {
    color: black;
    }
    .card-carousel {
        background: rgba(5,5,5,0.6);
    }
}