
#sec-2 {
background-color: #191923;
padding: 40px;
}
html {
scroll-behavior: smooth;
}
#intro-txt {
color: white;
}
#bg-cntr-txt-sec2 {
text-align: center;
color: white;
}
.link {
text-decoration: none;
color: white;
font-weight: bold;
}
#yt-vid-link {
color: black;
padding: 10px;
}
.sec-bubbles {
background-color: #191923;
color: white;
border-radius: 15px;
padding: 30px;
}
@media only screen and (min-width: 1000px) {
    body, html {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #191923;
    }
    #bg-header-img {
    margin-top: 50px;
    width: 700px;
    height: 700px;
    }
    #bg-header-txt {
    margin-top: 15px;
    font-size: 75px;
    }
    #sec-1, #sec-2, #footer-sec, #sec-3 {
    height: 1080px;
    width: auto;
    }
    #down-arw {
    width: 50px;
    height: 50px;
    align-content: center;
    }
    #scroll-prompt {
    margin-top: 50px;
    }
    #intro-txt {
    font-size: 45px;
    }
    #faq-header-txt, #contact-header-txt {
    font-size: 100px;
    }
    #bg-cntr-txt-sec2 {
    font-size: 70px;
    }
    #footer-sec {
    padding: 30px
    }
    #footer-sec-right {
    float: right;
    width: 40%;
    margin-bottom: 30px;
    }
    #footer-sec-left, #footer-sec-left-sub {
    float: left;
    width: 50%;
    }
    #footer-sec-left-sub {
    margin-top: 30px
    }
    #footer-sec-right-sub {
    float: right;
    width: 40%;
    }
    #license {
    margin-top: 10px;
    }
    #footer-sec-right-sub2 {
    float: right;
    margin-top: 30px;
    width: 40%;
    }
    #credit-header-txt {
    font-size: 35px;
    }
    #copyright-header-txt, #legal-learn-more-header-txt {
    font-size: 30px
    }

}