
    .dflt-bg {
color: white;
background: rgba(0, 0, 0, 0.5);
    }
    .no-hvr:hover, #no-hvr:hover {
color: white !important;
background: rgba(0, 0, 0, 0.5) !important;
    }
.slider.round {
background: rgba(0, 0, 0, 0.5)
}
    a {
color: white;
text-decoration: none;
    }
    .device-box:hover, .art-name-box:hover, .question:hover, .dflt-bg:hover, .onhover:hover {
background-color: black;
    }
.question {
color: white;
background: rgba(0, 0, 0, 0.5);
}
#device-selection {
background-color: rgba(0, 0, 0, 0.5);
color: white;
}
.txtclring {
color: white;
}
.bgclring {
background-color: black;
}
.close:hover, .close:focus {
color: white;
}
/*Accessibility styles that overule regular styles*/
.reduceTranslucency {
border: 1px solid white;
background: rgba(0, 0, 0) !important;
}
.boldFont {
font-weight: bold !important;
}

.cat-box {
background-color: rgba(10, 10, 10, 0.7);
border: 1px solid #cccccc;
box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1);
}
html, body {
background: #191923;
}
.round-img-corners {
fill: white;
}