    a {
color: white;
text-decoration: none;
    }
.question {
color: white;
background: rgba(0, 0, 0);
}
#device-selection {
background-color: rgba(0, 0, 0);
color: white;
}
.txtclring {
color: white;
}
.bgclring {
background-color: black;
}
.close:hover, .close:focus {
color: white;
}
/*Accessibility styles that overrule regular styles*/
.reduceTranslucency {
border: 1px solid white;
background: rgba(0, 0, 0) !important;
}
.boldFont {
font-weight: bold !important;
}
body, html {
background: rgba(20, 20, 40);
}
#sidebar-container {
background-color: rgba(31,31,51)
}
    .dflt-bg, .cat-box, .no-hvr:hover, #no-hvr:hover {
color: white;
background: rgba(47, 47, 67) !important;
    }
    .no-hvr:hover, #no-hvr:hover {
color: white !important;
    }
.input-bg {
color: white;
margin: 10px;
}    
.device-box:hover, .cat-box:hover, .art-name-box:hover, .question:hover, .dflt-bg:hover, .onhover:hover, .input-bg {
background-color: rgba(60,60,100);
    }