
.cat-box {
color: black;
background: rgba(255, 255, 255);
    }
.dflt-bg {
color: black;
background: rgba(255, 255, 255);
}
.slider.round {
background: rgba(255, 255, 255)
}
.dflt-bg:hover {
background: rgba(255,255,255)
}
    #no-hvr:hover, .no-hvr:hover {
color: black !important;
background: rgba(255, 255, 255) !important;
    }
    a {
color: black;
text-decoration: none;
    }
    .device-box:hover, .cat-box:hover, .cat-box-featured:hover, .art-name-box:hover, .question:hover, #theme-switch:hover {
background-color: white;
    }
.question {
color: black;
background: rgba(255, 255, 255);
}
#device-selection {
background-color: white;
color: black;
}
.txt-clring {
color: black;
}
.close:hover, .close:focus {
color: black;
}
/*Accessibility styles that overule regular styles*/
.reduceTranslucency {
border: 1px solid black;
background: rgba(255, 255, 255) !important;
}
.boldFont {
font-weight: bold !important;
}