.stretch {
width: 188px;
height: inherit;
}
    .dflt-bg, .cat-box {
border-radius: 10px;
transition: 0.7s;
    }
.cat-box {
text-align: center;
padding: 10px;
}
body, html {
 font-family: 'Montserrat', sans-serif;
transition: 0.6s;
height: 100%;
}
   html::-webkit-scrollbar {
display: none;
    }
    html {
 -ms-overflow-style: none;
  scrollbar-width: none;
background-size: cover;
background-repeat: no-repeat;
/*overflow: none;
overflow: hidden;*/
background-image: linear-gradient(to bottom right, #191923, #191923);
}
    a {
text-decoration: none;
    }
    .device-box:hover, .cat-box:hover, .cat-box-featured:hover, .art-name-box:hover, #search-field:hover, .question:hover, #filter-container:hover, #theme-switch:hover {
transition: 0.6s;
opacity: 0.80;
outline: none;
    }
#search-field:active, #search-field:focus, #filter-field:focus, #filter-field:active, #theme-switch:focus, #theme-switch:active, .bg-styled:focus, .bg-styled:active {
outline: none;
border: none;
}
.question {
padding: 6px;
width: 10px;
border-radius: 10px;
transition: 0.7s;
}
.no-out {
outline: none;
border: none;
padding: 7px;
}
.bg-styled {
border: none;
}
#device-selection {
-webkit-appearance: none;
background: none;
font-family: inherit;
border: none;
border-radius: 10px;
padding: 6px;
}
#device-selection:hover {
outline: none;
border: none;
}
#theme-reset {
visibility: hidden;
transition: 0.6s;
}
#version {
position: static;
float: right;
}
.txtclring {
transition: 0.6s;
}
/* Code modified from W3 Schools */
.popup {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 30%;
    border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
#whats-new-box {
font-family: inherit;
}
.popup-header {
font-weight: bold;
font-size: 25px;
}
/* End modified code */
#dark-mode, #auto-theme, #settings-img {
width: 20px;
height: auto;
}
#color-box {
width: 20px;
height: 20px;
background-color: blue;
border-radius: 5px;
}
#filter-field, #search-field {
padding: 3px 6px;
width: 0px;
height: 20px;
background: none;
-webkit-appearance: none;
transition: 0.6s;
margin-bottom: 50%;
}
#filter-icon, #search-icon {
width: 20px;
height: auto;
float: left;
}
#filter-container, #search-container {
width: 20px;
height: 20px;
white-space: nowrap;
display: inline-block;
}
#filter-field:hover, #search-field:hover, #search-field, #filter-field {
background: none;
background-color: none;
width: 150px;
}
#filter-container, #search-container {
width: 10.5vw;
margin: 0px 0px 7px 0px;
}
.dflt-bg {
padding: 7px;
}
#search-field {
outline: none;
border: none;
}
#version {
width: auto;
height: 20px;
}
li {
list-style-type: circle;
}
.disabled {
background: grey;
}
.group-box {
margin: 6px 10;
padding: 10px;
}